/* common shared css */
body {
    font-family: Open Sans;
}

/* common shared css */
/* nav related styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.text-primary {
    color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.nav_title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

/* nav end */

/* banner start */
.banner {
    padding: 30px 101px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin: 5px 0 28px;
}

.banner-p {
    padding: 0 76px 0 0;
    margin-bottom: 30px;
}

.profile-pic {
    width: 500px;
}

/* banner end */

/* main section start */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* main section end */

/* about start */
.about {
    margin: 130px 0;
    padding: 130px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.section-description {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

/* about info */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    font-size: 20px;
    color: #757575;
    font-weight: 400;
    line-height: 15px;
}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
    line-height: 0;
}

/* about end */

/* what i do section start */

#what-i-do-description {
    padding: 30px 150px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* what i do section end */

/* resume section start */
.resume-section {
    margin: 130px 0;
}

.c-title {
    margin-bottom: 90px;
}

.resume-container {
    display: flex;
    gap: 30px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.resume-item {
    padding-right: 60px;
    margin: 30px 0;
}

.resume-item-title {
    font-size: 24px;
    font-weight: 700;
    color: #474747;
}

.resume-item-institute {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin: 10px 0 20px 0;
}

.resume-item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6b6b6b;
}

.download-cv {
    text-align: center;
    margin-top: 20px;
}

/* resume section end */

/* footer section start */
footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 230px 130px;
}

.footer-column {
    width: 50%;

}

.section-titleC {
    text-align: left;
    margin-bottom: 20px;
}

.section-description {
    text-align: left;
}

.social-links a {
    margin: 0 24px 0 0;
}

/* form */
.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    color: rgb(117, 117, 117);
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    width: 100%;
}

/* form */

/* footer section end */